tests/
tools/textgenerator/ftp-config.js
tools/textgenerator/input/
tools/utilities/
tools/_old/
content/texts/*.*
build/
config-custom.js
app/commons.js
app/commons.js.map
app/globals.bundle.js
app/globals.bundle.js.map
app/main.bundle.js
app/main.bundle.js.map
app/content/texts/
!app/content/texts/README.md
**/node_modules/
